{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <nav class="bg-blue-500 p-4 text-white">Home</nav>
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold text-green-500">Welcome Home</h1>
        <h3 class="font-semibold bg-red-500 text-white"> Fahim</h3>
    </div>
</body>
</html>